body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

.hero {
  background-image: url('../images/fundal 1.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero-content {
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  border-radius: 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 30px;
}

.navbar {
    position: relative;
    width: 1559px;
    height: 105px;
    margin: 34px auto;
    padding: 0 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.29);
    backdrop-filter: blur(6.6px);
    border-radius: 66px;
    font-family: 'Poppins', sans-serif;
}

.navbar-logo img {
    width: 76.8px;
    height: 82px;
}

.navbar-menu {
    display: flex;
    gap: 36px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li a {
    display: block;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF;
    background: #FFFFFF;
    border-radius: 25px;
}

.navbar-menu li.active a {
    background: #D0FF00;
    color: #000;
    font-weight: 500;
}


.btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 133px;
    height: 52px;
    background: #D0FF00;
    border-radius: 43px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}
.navbar-icons {
    display: flex;
    gap: 24px;
    align-items: center;
}

.icon-cart svg {
    width: 32px;
    height: 32px;
    stroke: #fff;
    transition: stroke 0.3s ease;
}

.icon-cart:hover svg {
    stroke: #D0FF00;
}



